.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0.5rem;
    color: var(--themeRed);
}
.container>p{
    font-weight: bold;
}
.icons{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.icons>*{
    height: 30px;
    width: 30px;
}

.logo{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.logo>p{
    font-weight: bold;
}