.menu{
    display: flex;
    flex-direction: column;
    padding: 3rem;
}
.menuheading{
    display: flex;
    flex-direction: column;
}
.menuheading>b{
    color: var(--themeRed);
}

.pizzas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.piimg{
    width: 350px;
    height: 250px;
}

.pitext{
    margin-top: -10px;
}

.bold{
    position: relative;
    top: -20px;
}